*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    height: 100vh;
    
;
    
}
.container {
    text-align: center;
    background: linear-gradient(135deg, #153677, #4e085f);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    
}
.to-do{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    
}

h1 {
    color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    font-size: 2rem;

}

h1 img {
    height: 50px;
    width: 50px;
}
.input-container{
    width: 50px;
    margin: 0 auto;
    text-align: center;
    
    display: flex;
    margin-top: 20px;
}
    
input{
    text-align: left;
    margin-left:-80px;
    padding: 5px 10px; ;
    border-radius: 30px;
    

}
button {
        position: absolute;
        margin-left: 60px;
        padding: 5px 10px;
        margin: right 60px;
        background-color: orange;
        border-radius: 30px;
        
}
ul {
    padding: 0;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 60px; 
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

}
ul li::before{
    content: '';
    position: absolute;
    left: 10px; 
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('unchecked.png');
    background-size: cover;
    background-position: center;

}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    content: ''; /* Ensures the element is created */
    background-image: url('check.png');
    background-size: cover;
}
ul li span{
    position:absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}